--- layout: "default.hbs" title: "forms" ---
<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content topajax">
            <h1 class="main-stage-learn-more__title">Easy-to-use data integration tools</h1>
            <p class="main-stage-learn-more__description">Rapidly roll out business apps using data integration tools that connect forms and workflows with your systems - on premises and in the cloud.
</p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">REQUEST A DEMO</a>
            <a href="/how-to-buy.html" class="main-stage-learn-more__button--secondary">How To Buy</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/learn-more.html">Overview</a></li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li class="active"><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section> 
<section class="tabs-content">
    <div class="wrapper">
        <div class="fwd">
            <div class="fwd__left">
                <div class="fwd__menu -data -one">
                    <ul>
                        <li class="item-one active">Flexible and 
                            <br> extensible</li>
                        <li class="item-two"> ON-PREMISES AND CLOUD</li>
                        <li class="item-three">{{datas.feature-3-title}}</li>
                        
                    </ul>
                </div>
                <div class="fwd__computer">
                    <img src="/img/1/laptop-device.png" width="493" alt="">
                </div>
                <div class="fwd__screen">
                    <div class="fwd__slides js-screen -one">
                        <img src="/img/1/{{datas.feature-1-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{datas.feature-2-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{datas.feature-3-img}}" width="350" height="200" alt="">
                    
                    </div>
                </div>
            </div>
            <div class="fwd__right -one">
                <div class="fwd__right-content--one">
                    <h2 class="fwd__right-title">{{datas.feature-1-title}}</h2>
                    <p class="fwd__right-description">{{datas.feature-1-description-1}}</p>
                    <p class="fwd__right-description">{{datas.feature-1-description-2}}</p>
                </div>
                <div class="fwd__right-content--two">
                   <h2 class="fwd__right-title">On-premises and in the cloud</h2>
                    <p class="fwd__right-description">{{datas.feature-2-description-1}}</p>
                    <p class="fwd__right-description">{{datas.feature-2-description-2}}</p>
                </div>
                <div class="fwd__right-content--three">
                    <h2 class="fwd__right-title">{{datas.feature-3-title}}</h2>
                    <p class="fwd__right-description">{{datas.feature-3-description-1}}</p>
                    <p class="fwd__right-description">{{datas.feature-3-description-2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts">
<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">Automate and streamline any process with K2 business apps that run on premises or in the cloud. K2 apps extend the capabilities of your current systems, pull in data securely without storing it, and provide insightful reporting. </p>
            <a href="/products.html" class="products-slice__primary-cta">View K2 Products</a>
        </div>
    </div>
</section>
<section class="featured-asset">
    <div class="wrapper">
        <div class="featured-asset__content">   
            <div class="featured-asset__content_column">
                <h4 class="featured-asset__title">Building Business Apps On Your SAP Data: Bridging Connections Between People and Data</h4>
                <div class="featured-asset__description">Most enterprises rely on the power of SAP software but the complexity of implementations and extensive, time-consuming customizations can slow down productivity. Read this paper to learn how a low-code, business application platform with data integration tools can help you provide simpler, more cost-effective ways to empower people by connecting them with data that is dispersed across different systems.</div>
                <a href="http://content.k2.com/web_70114000002W3G4" taget="_blank" class="featured-asset__button--primary">Download the whitepaper</a>
            </div>
        </div>
         <div class="featured-asset__content">   
            <div class="featured-asset__content_column">
                <h4 class="featured-asset__title">What is the business process breakdown costing your business?</h4>
                <div class="featured-asset__description">Manual, paper-based processes can’t keep up with the digital world, but business applications can. Forms and workflow apps can remove organization-wide bottlenecks in your business, and deliver greater departmental productivity while empowering your mobile workers. Learn how business process analysis tools enable better, data-driven decisions.</div>
                <a href="http://content.k2.com/online_70114000002Jgwb" taget="_blank" class="featured-asset__button--primary">Download the whitepaper</a>
            </div>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">{{learn-more.one-minute__title}}</h4>
            <p class="one-miniute-video-slice__description">K2 apps help you maximize your data. Want to see how it works? Click below to check out how to build and run business process applications with forms, workflow, data and reports.</p>
            <a href="/one-minute-demo.html" class="one-miniute-video-slice__primary-cta">See it live </a>
        </div>
    </div>
</section>




<script>
$('.fwd__menu .item-one').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-one');
    $(this).addClass('active');
});
$('.fwd__menu .item-two').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-two');
    $(this).addClass('active');
});

$('.fwd__menu .item-three').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-three');
    $(this).addClass('active');
});

$('.fwd__menu .item-four').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-four');
    $(this).addClass('active');
});


function removeAllClasses() {
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-one');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-two');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-three');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-four');
}
</script>
</div>
