--- layout: "default.hbs" title: "forms" ---
<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">K2 helps your people work smarter <br>and get business done faster.</h1>
            <p class="main-stage-learn-more__description">Create, modify and reuse business apps with little-to-no code — on premises or in the cloud.
                <br>Leverage current systems and technologies, and interact with your apps from any device.</p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">REQUEST A DEMO</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/learn-more.html">Overview</a></li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li class="active"><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section> 
<section class="tabs-content">
    <div class="wrapper">
        <div class="fwd">
            <div class="fwd__left">
                <div class="fwd__menu -data -one">
                    <ul>
                        <li class="item-one active">Flexible and 
                            <br> extensible</li>
                        <li class="item-two"> ON-PREMISES AND CLOUD</li>
                        <li class="item-three">{{datas.feature-3-title}}</li>
                        
                    </ul>
                </div>
                <div class="fwd__computer">
                    <img src="/img/1/laptop-device.png" width="493" alt="">
                </div>
                <div class="fwd__screen">
                    <div class="fwd__slides js-screen -one">
                        <img src="/img/1/{{datas.feature-1-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{datas.feature-2-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{datas.feature-3-img}}" width="350" height="200" alt="">
                    
                    </div>
                </div>
            </div>
            <div class="fwd__right -one">
                <div class="fwd__right-content--one">
                    <h2 class="fwd__right-title">{{datas.feature-1-title}}</h2>
                    <p class="fwd__right-description">{{datas.feature-1-description-1}}</p>
                    <p class="fwd__right-description">{{datas.feature-1-description-2}}</p>
                </div>
                <div class="fwd__right-content--two">
                   <h2 class="fwd__right-title">On-premises and in the cloud</h2>
                    <p class="fwd__right-description">{{datas.feature-2-description-1}}</p>
                    <p class="fwd__right-description">{{datas.feature-2-description-2}}</p>
                </div>
                <div class="fwd__right-content--three">
                    <h2 class="fwd__right-title">{{datas.feature-3-title}}</h2>
                    <p class="fwd__right-description">{{datas.feature-3-description-1}}</p>
                    <p class="fwd__right-description">{{datas.feature-3-description-2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{> form-work-flow-bottom}}



<div class="tabs-scripts">
<script>
$('.fwd__menu .item-one').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-one');
    $(this).addClass('active');
});
$('.fwd__menu .item-two').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-two');
    $(this).addClass('active');
});

$('.fwd__menu .item-three').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-three');
    $(this).addClass('active');
});

$('.fwd__menu .item-four').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-four');
    $(this).addClass('active');
});


function removeAllClasses() {
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-one');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-two');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-three');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-four');
}
</script>
</div>
