--- layout: "default.hbs" title: "forms" ---
<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">K2 helps your people work smarter <br>and get business done faster.</h1>
            <p class="main-stage-learn-more__description">Create, modify and reuse business apps with little-to-no code — on premises or in the cloud.
                <br>Leverage current systems and technologies, and interact with your apps from any device.</p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">Schedule Demo</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/learn-more.html">Overview</a></li>
                <li class="active"><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="fwd">
            <div class="fwd__left">
                <div class="fwd__menu -one">
                    <ul>
                        <li class="item-one active">Global task 
                            <br> management</li>
                        <li class="item-two">{{apps.feature-2-title}}</li>
                        <li class="item-three">{{apps.feature-3-title}}</li>
                        <li class="item-four">{{apps.feature-4-title}}</li>
                    </ul>
                </div>
                <div class="fwd__computer">
                    <img src="/img/1/laptop-device.png" width="493" alt="">
                </div>
                <div class="fwd__screen">
                    <div class="fwd__slides js-screen -one">
                        <img src="/img/1/{{apps.feature-1-img}}" width="350" alt="">
                        <img src="/img/1/{{apps.feature-2-img}}" width="350" alt="">
                        <img src="/img/1/{{apps.feature-3-img}}" width="350" alt="">
                        <img src="/img/1/{{apps.feature-4-img}}" width="350" alt="">
                    </div>
                </div>
            </div>
            <div class="fwd__right -one">
                <div class="fwd__right-content--one">
                    <h2 class="fwd__right-title">{{apps.feature-1-title}}</h2>
                    <p class="fwd__right-description">{{apps.feature-1-description-1}}</p>
                    <p class="fwd__right-description">{{apps.feature-1-description-2}}</p>
                </div>
                <div class="fwd__right-content--two">
                   <h2 class="fwd__right-title">{{apps.feature-2-title}}</h2>
                    <p class="fwd__right-description">{{apps.feature-2-description-1}}</p>
                    <p class="fwd__right-description">{{apps.feature-2-description-2}}</p>
                </div>
                <div class="fwd__right-content--three">
                    <h2 class="fwd__right-title">{{apps.feature-3-title}}</h2>
                    <p class="fwd__right-description">{{apps.feature-3-description-1}}</p>
                    <p class="fwd__right-description">{{apps.feature-3-description-2}}</p>
                </div>
                <div class="fwd__right-content--four">
                   <h2 class="fwd__right-title">{{apps.feature-4-title}}</h2>
                    <p class="fwd__right-description">{{apps.feature-4-description-1}}</p>
                    <p class="fwd__right-description">{{apps.feature-4-description-2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">{{learn-more.products_description}}</p>
            <a href="/products" class="products-slice__primary-cta">View K2 Products</a>
        </div>
    </div>
</section>
<section class="featured-asset">
    <div class="wrapper">
        <div class="featured-asset__content">
            <div class="featured-asset__image">
                <img src="/img/1/Forrester-Logo.jpg" width="131" alt="">
            </div>
            <h4 class="featured-asset__title">
                Low-Code Platforms Deliver Customer-Facing Apps Fast, <br />But Will They Scale Up?
            </h4>
            <div class="featured-asset__description">
                {{learn-more.forresster-paper__description}}
            </div>
            <a class="featured-asset__button--primary">download report</a>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">ONE-MINUTE DEMO VIDEOS</h4>
            <p class="one-miniute-video-slice__description">{{learn-more.one-minute__description}}</p>
            <a href="/one-minute-demo.html" class="one-miniute-video-slice__primary-cta">watch videos </a>
        </div>
    </div>
</section>
<div class="tabs-scripts">
    <script>
    $('.fwd__menu .item-one').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-one');
        $(this).addClass('active');
    });
    $('.fwd__menu .item-two').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-two');
        $(this).addClass('active');
    });

    $('.fwd__menu .item-three').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-three');
        $(this).addClass('active');
    });

    $('.fwd__menu .item-four').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-four');
        $(this).addClass('active');
    });


    function removeAllClasses() {
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-one');
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-two');
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-three');
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-four');
    }
    </script>
</div>
