--- layout: "default.hbs" title: "forms" ---
<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">K2 helps your people work smarter <br>and get business done faster.</h1>
            <p class="main-stage-learn-more__description">Create, modify and reuse business apps with little-to-no code — on premises or in the cloud.
                <br>Leverage current systems and technologies, and interact with your apps from any device.</p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">REQUEST A DEMO</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/learn-more.html">Overview</a></li>
                <li class="active"><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="fwd">
            <div class="fwd__left">
                <div class="fwd__menu -one">
                    <ul>
                        <li class="item-one active">Line-of-business
                            <br> integration</li>
                        <li class="item-two">Reusable electronic <br> forms</li>
                        <li class="item-three">{{forms.feature-3-title}}</li>
                        <li class="item-four">{{forms.feature-4-title}}</li>
                    </ul>
                </div>
                <div class="fwd__computer">
                     <img class="computer" src="/img/1/laptop-device.png" width="493" alt="">
                    <img class="mobile-screen" src="/img/1/Mobile-ready.jpg" width="400" alt="" style="margin-right: 41px; margin-top: -24px;">
                </div>
                <div class="fwd__screen">
                    <div class="fwd__slides js-screen -one">
                        <img src="/img/1/{{forms.feature-1-img}}" width="350" alt="">
                        <img src="/img/1/{{forms.feature-2-img}}" width="350" alt="">
                        <img src="/img/1/{{forms.feature-3-img}}" width="350" alt="">
                        <img src="/img/1/{{forms.feature-4-img}}" width="350" alt="">
                    </div>
                </div>
            </div>
            <div class="fwd__right -one">
                <div class="fwd__right-content--one">
                    <h2 class="fwd__right-title">{{forms.feature-1-title}}</h2>
                    <p class="fwd__right-description">{{forms.feature-1-description-1}}</p>
                    <p class="fwd__right-description">{{forms.feature-1-description-2}}</p>
                </div>
                <div class="fwd__right-content--two">
                   <h2 class="fwd__right-title">{{forms.feature-2-title}}</h2>
                    <p class="fwd__right-description">{{forms.feature-2-description-1}}</p>
                    <p class="fwd__right-description">{{forms.feature-2-description-2}}</p>
                </div>
                <div class="fwd__right-content--three">
                    <h2 class="fwd__right-title">{{forms.feature-3-title}}</h2>
                    <p class="fwd__right-description">{{forms.feature-3-description-1}}</p>
                    <p class="fwd__right-description">{{forms.feature-3-description-2}}</p>
                </div>
                <div class="fwd__right-content--four">
                   <h2 class="fwd__right-title">{{forms.feature-4-title}}</h2>
                    <p class="fwd__right-description">{{forms.feature-4-description-1}}</p>
                    <p class="fwd__right-description">{{forms.feature-4-description-2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{> form-work-flow-bottom}}
<div class="tabs-scripts">
    <script>
    $('.fwd__menu .item-one').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-one');
        $(this).addClass('active');
        $('.computer,.fwd__screen').show();
        $('.mobile-screen').hide();
        
    });
    $('.fwd__menu .item-two').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-two');
        $(this).addClass('active');  $('.fwd__computer').show();
        $('.computer,.fwd__screen').show();
        $('.mobile-screen').hide();
    });

    $('.fwd__menu .item-three').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-three');
        $(this).addClass('active');
        $('.computer,.fwd__screen').show();
        $('.mobile-screen').hide();
     
    });

    $('.fwd__menu .item-four').click(function() {
        removeAllClasses();
        $('.fwd__menu li').removeClass('active');
        $('.js-screen, .fwd__menu, .fwd__right').addClass('-four');
        $(this).addClass('active');
        $('.computer,.fwd__screen').hide();
        $('.mobile-screen').show();
        
    });


    function removeAllClasses() {
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-one');
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-two');
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-three');
        $('.js-screen, .fwd__menu, .fwd__right').removeClass('-four');
    }
    </script>
</div>
