---
layout: "default.hbs"
title: "home"
---

<section class="main-stage -homepage">
        <div class="wrapper">
            <div class="main-stage__content">
                <h1 class="main-stage__title">
                    
                    
                    <span
     class="txt-rotate"></span>
                </h1>
                <div class="clear"></div>
                <a href="http://www.youtube.com/embed/AJ6xaS-V_vY?autoplay=1" class="main-stage__button--primary fancybox fancybox.iframe">
                    {{ homepage.main-stage__button--primary}}
                </a>
            </div>
        </div>
    </section>
    <section class="learn-more">
        <div class="wrapper">
            <div class="learn-more__content">
                <h2 class="learn-more__title">
                    Merging business and IT <br>to drive performance
                </h2>
                <div class="learn-more__description">
                    {{ homepage.learn-more__description }}
                </div>
                <a href="/learn-more.html" class="learn-more__button--primary">Visit Platform Overview</a>
            </div>
        </div>
    </section>
    <section class="departments">
        <div class="wrapper">
            <div class="departments__content">
                <h3 class="departments__title">
                        {{homepage.departments__title}}
                </h3>
                <div class="departments__description">
                    {{homepage.departments__description}}
                </div>
            </div>
        </div>
        <div class="departments-list">
            <ul>
                <li class="departments-list__human-resources">
                    <a href="/department-detail.html">Human Resources</a>
                </li>
                <li class="departments-list__financing"><a href="/department-detail.html">Finance</a></li>
                <li class="departments-list__operations"><a href="/department-detail.html">Operations</a></li>
                <li class="departments-list__purchasing"><a href="/department-detail.html">Purchasing</a></li>
                <li class="departments-list__sales-marketing"><a href="/department-detail.html">Sales & Marketing</a></li>
                <li class="departments-list__it"><a href="">IT</a></li>
            </ul>
        </div>
    </section>
    <section class="customers">
        <div class="wrapper">
            <h3 class="customers__title">{{homepage.customers__title}}</h3>
            <div class="customers__logos">
                <ul>
                    <li><a href=""><img src="/img/1/logo-kimberly.png" width="213" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-ppg.png" width="59" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-microsoft.png" width="166" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-shell.png" width="55" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-sanofi.png" width="136" alt=""></a></li>
                 
                </ul>
            </div>
            <div class="clear"></div>
            <a href="/customers" class="customers__cta">see all case studies</a>
        </div>
               
    </section>
    <section class="event-info">
        <div class="wrapper">
            <div class="event-info__content">
                <h3 class="event-info__title">Events & Info</h3>
                <div class="event-info__columns">
                    <div class="event-info__single-event">
                        <div class="event-info__single-event-image">
                            <img src="/img/1/event-info-event-2.jpg">
                        </div>
                        <div class="event-info__single-event-description">
                            <p>Introduction amazing online forms</p>
                            <a class="event-info__single-event-cta">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="event-info__single-event">
                        <div class="event-info__single-event-image">
                            <img src="/img/1/event-info1.jpg">
                        </div>
                        <div class="event-info__single-event-description">
                            <p>Introduction amazing online forms</p>
                            <a class="event-info__single-event-cta">
                                Learn More
                            </a>
                        </div>
                    </div>
                     <div class="event-info__single-event">
                        <div class="event-info__single-event-image">
                            <img src="/img/1/event-info-event-2.jpg">
                        </div>
                        <div class="event-info__single-event-description">
                            <p>Introduction amazing online forms</p>
                            <a class="event-info__single-event-cta">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>

                 <a href="" class="event-info__button--primary">see full list of events</a>
            </div>
        </div>
        

    </section>

    <section class="how-to-buy">
        <div class="wrapper">
            <div class="how-to-buy__content">
                <h4 class="how-to-buy__title">
                    {{homepage.how-to-buy__title}}
                </h4>
                <p class="how-to-buy__description">
                  {{homepage.how-to-buy__description}}
                </p>
                <a href="/how-to-buy.html" class="how-to-buy__button--primary">{{homepage.how-to-buy__button--primary}}</a>
            </div>
           

        </div>
        

    </section>
<script>
$('.departments-list li').click(function(){
    window.location.href = "/department-detail.html";
});
  $(function(){

      $(".txt-rotate").typed({
        strings: [ "" ,"RAPIDLY DELIVER <br> <span>BUSINESS APPLICATIONS</span> <br>that are agile", "RAPIDLY DELIVER <br> <span>BUSINESS APPLICATIONS</span> <br>that are scalable", " RAPIDLY DELIVER <br> <span>BUSINESS APPLICATIONS </span> <br>that are mobile-ready", "RAPIDLY DELIVER <br> <span>BUSINESS APPLICATIONS</span> <br>that span people and systems" ],
        typeSpeed: 0,
         startDelay: 2,
         backDelay: 1000
      });

  });
</script>
<style>
    .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
</style>
