---
layout: "default.hbs"
---

<section class="main-stage -homepage">
        <div class="wrapper">
            <div class="main-stage__content">
                <h1 class="main-stage__title">
                    Rapidly deliver business applications <br>
                    <span>that are agile</span>
                </h1>
                <div class="clear"></div>
                <a href="#" class="main-stage__button--primary">
                    {{ homepage.main-stage__button--primary}}
                </a>
            </div>
        </div>
    </section>
    <section class="learn-more">
        <div class="wrapper">
            <div class="learn-more__content">
                <h2 class="learn-more__title">
                    {{ homepage.learn-more__title}}
                </h2>
                <div class="learn-more__description">
                    {{ homepage.learn-more__description }}
                </div>
                <div class="learn-more__button--primary">Visit Platform Overview</div>
            </div>
        </div>
    </section>
    <section class="departments">
        <div class="wrapper">
            <div class="departments__content">
                <h3 class="departments__title">
                        {{homepage.departments__title}}
                </h3>
                <div class="departments__description">
                    {{homepage.departments__description}}
                </div>
            </div>
        </div>
        <div class="departments-list">
            <ul>
                <li class="departments-list__human-resources">
                    <a href="">Human Resources</a>
                </li>
                <li class="departments-list__financing "><a href="">Financing</a></li>
                <li class="departments-list__operations"><a href="">Operations</a></li>
                <li class="departments-list__purchasing"><a href="">Purchasing</a></li>
                <li class="departments-list__sales-marketing"><a href="">Sales Marketing</a></li>
                <li class="departments-list__it"><a href="">IT</a></li>
            </ul>
        </div>
    </section>
    <section class="customers">
        <div class="wrapper">
            <h3 class="customers__title">{{homepage.customers__title}}</h3>
            <div class="customers__logos">
                <ul>
                    <li><a href=""><img src="/img/1/logo-kimberly.png" width="213" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-ppg.png" width="59" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-microsoft.png" width="166" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-shell.png" width="55" alt=""></a></li>
                    <li><a href=""><img src="/img/1/logo-sanofi.png" width="136" alt=""></a></li>
                 
                </ul>
            </div>
            <div class="clear"></div>
            <a href="" class="customers__cta">see all case studies</a>
        </div>
               
    </section>
    <section class="event-info">

a fasdf

    </section>