--- layout: "default.hbs" title: "learn-more" ---

<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">
                K2 helps your people work smarter <br> and get business done faster.
            </h1>
            <p class="main-stage-learn-more__description">
                Create, modify and reuse business apps with little-to-no code — on premises or in the cloud. <br>
                 Leverage current systems and technologies, and interact with your apps from any device.
                {{ learn-more.main-stage-learn-more__description}}
                 </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                 <li class="active"><a class="ajax" href="/learn-more.html">Overview</a></li>
                 <li class="mobile-tab-content">


                 </li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="overview">
                <div class="overview__title">
                    Anatomy of a K2 business app
                </div>
                <div class="overview__description">
                    K2 business apps help you streamline process — expense claims, customer onboarding, travel authorizations or any other process you use at work. They connect people, data and systems to drive substantial time savings and offer full traceability on every process. Bring products to market faster, gain critial approvals quickly, meet regulatory and compliance demands with full confidence. K2 enables you to build apps the way you want, with components like forms and workflow. Let’s look at an example:
                </div>
                <div class="overview__graph">
                    <div class="overview__graph--right-content">

                        <div class="overview__graph--mobile-image">
                        
                            <img src="/img/1/mobile-graph1.png" alt="">

                        </div>
                        <h3>{{learn-more.step-1__title}}</h3>
                        <p>{{learn-more.step-1__description}}</p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph2.png" alt="">
                        </div>
                        <h3>{{learn-more.step-2__title}}</h3>
                        <p>{{learn-more.step-2__description}}</p>
                    </div>
                    <div class="overview__graph--right-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph3.png" alt="">
                        </div>
                        <h3>{{learn-more.step-3__title}}</h3>
                        <p>{{learn-more.step-3__description}}</p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph4.png" alt="">
                        </div>
                        <h3>{{learn-more.step-4__title}}</h3>
                        <p>{{learn-more.step-4__description}}</p>
                    </div>
                     <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph5.png" alt="">
                        </div>
                        <h3>{{learn-more.step-5__title}}</h3>
                        <p>{{learn-more.step-5__description}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">{{learn-more.products_description}}</p>
            <a href="/products" class="products-slice__primary-cta">View K2 Products</a>
        </div>
    </div>
</section>
<section class="featured-asset">
    <div class="wrapper">
        <div class="featured-asset__content">
        <div class="featured-asset__image">
            <img src="/img/1/Forrester-Logo.jpg" width="131" alt="">
        </div>
            <h4 class="featured-asset__title">
                Low-Code Platforms Deliver Customer-Facing Apps Fast, <br />But Will They Scale Up?
            </h4>
            <div class="featured-asset__description">
                {{learn-more.forresster-paper__description}}
            </div>
            <a class="featured-asset__button--primary">download report</a>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">ONE-MINUTE DEMO VIDEOS</h4>
            <p class="one-miniute-video-slice__description">{{learn-more.one-minute__description}}</p>
            <a href="/one-minute-demo.html" class="one-miniute-video-slice__primary-cta">Watch Videos </a>
        </div>
    </div>
</section>
<div id="is-not-desktop"></div>
<div class="tabs-scripts"></div>

<script>
    if( $("#is-not-desktop").css('display').toLowerCase() == 'block') {
         $('.mobile-tab-content').html($('.tab-content__content').html());
         $('.tab-content__content').empty();
    }

</script>
