--- layout: "default.hbs" title: "learn-more" ---

<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content topajax">
            <h1 class="main-stage-learn-more__title">
                K2 business process improvement applications help you work smarter and get business done faster

            </h1>
            <p class="main-stage-learn-more__description">
                Create, modify and reuse K2 business apps with little to no code — on premises or in the cloud. <br>  Leverage current systems and technologies, and interact with your apps from any device.

                 </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
            <a href="/how-to-buy.html" class="main-stage-learn-more__button--secondary">How To Buy</a>
        </div>

    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                 <li class="active"><a class="ajax" href="/learn-more.html">Overview</a></li>
                 <li class="mobile-tab-content">


                 </li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="overview">
                <div class="overview__title">
                    Anatomy of a K2 business app
                </div>
                <div class="overview__description">
                    K2 business apps help you streamline processes — expense claims, customer onboarding, travel authorizations or any other process you use at work. They connect people, data and systems to drive substantial time savings and offer full traceability on every process. Bring products to market faster, gain critical approvals quickly, meet regulatory and compliance demands with full confidence. K2 enables you to build apps the way you want, with components like forms and workflow. Let’s look at an example:
                </div>
                <div class="overview__graph">
                    <div class="overview__graph--right-content">

                        <div class="overview__graph--mobile-image">
                        
                            <img src="/img/1/mobile-graph1.png" alt="">

                        </div>
                        <h3>{{learn-more.step-1__title}}</h3>
                        <p>{{learn-more.step-1__description}}<br>
                            <a href="/data.html">Learn more about K2's data integration.</a>
                        </p>

                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph2.png" alt="">
                        </div>
                        <h3>{{learn-more.step-2__title}}</h3>
                        <p>{{learn-more.step-2__description}}<br>
                        <a href="/forms.html">Learn more about forms.</a>
                            
                        </p>
                    </div>
                    <div class="overview__graph--right-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph3.png" alt="">
                        </div>
                        <h3>{{learn-more.step-3__title}}</h3>
                        <p>{{learn-more.step-3__description}}
                        <br>
                        <a href="/workflow.html">Learn more about workflow.</a>
                        </p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph4.png" alt="">
                        </div>
                        <h3>{{learn-more.step-4__title}}</h3>
                        <p>{{learn-more.step-4__description}}
<br>
                        <a href="/data.html">Learn more about reports.</a>
                        </p>
                    </div>
                     <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph5.png" alt="">
                        </div>
                        <h3>{{learn-more.step-5__title}}</h3>
                        <p>{{learn-more.step-5__description}}
                        
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts">
<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">K2 business apps run on premises or in the cloud, they integrate with your current systems, and they allow for insightful reporting. Everything you build is reusable and easy to change with little-to-no code.
            </p>
            <a href="/products.html" class="products-slice__primary-cta">View K2 Products</a>
        </div>
    </div>
</section>
<section class="featured-asset">
    <div class="wrapper">
        <div class="featured-asset__content">   
            <div class="featured-asset__content_column">
                <h4 class="featured-asset__title">
                    Gartner Report: Market Guide to Business Process Management Platforms
                </h4>
                <div class="featured-asset__description">
                    BPM platforms enable rapid application development, transform processes and digitize paper-based applications, but it can be difficult to know which BPM solution will fit your business needs best. Read this report to learn about key criteria to look for and which BPM vendors will best meet your company's business process improvement needs.
                </div>
                <a href="http://content.k2.com/web_70114000002Jkok" taget="_blank" class="featured-asset__button--primary">Download the Gartner report</a>
            </div>
        </div>
         <div class="featured-asset__content">   
            <div class="featured-asset__content_column">
                <h4 class="featured-asset__title">
                    Are Low-code Platforms Fast & Scalable?
                </h4>
                <div class="featured-asset__description">
                    Low-code platforms make it possible to rapidly deliver business applications, making companies more agile and flexible in a business world that is constantly evolving and changing. Are low-code platforms capable of scaling to support the process automation needs of businesses today?  Read this whitepaper to learn more.
                </div>
                <a href="http://content.k2.com/web_70114000002W3Fz" taget="_blank" class="featured-asset__button--primary">Download the whitepaper</a>
            </div>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">{{learn-more.one-minute__title}}</h4>
            <p class="one-miniute-video-slice__description">Want to see K2 in action? Click below to learn how easy it can be to build and run business process applications with forms, workflow, data and reports.
            </p>
            <a href="/one-minute-demo.html"  class="one-miniute-video-slice__primary-cta">See it live </a>
        </div>
    </div>
</section>
</div>
<div id="is-not-desktop"></div>



