--- layout: "default.hbs" title: "learn-more" ---

<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">
                K2 business applications help you work smarter and get business done faster
            </h1>
            <p class="main-stage-learn-more__description">
                Create, modify and reuse K2 business apps with little to no code — on premises or in the cloud. <br>  Leverage current systems and technologies, and interact with your apps from any device.
                 </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--secondary">Buy it now</a>
        </div>

    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                 <li class="active"><a class="ajax" href="/learn-more.html">Overview</a></li>
                 <li class="mobile-tab-content">


                 </li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="overview">
                <div class="overview__title">
                    Anatomy of a K2 business app
                </div>
                <div class="overview__description">
                    K2 business apps help you streamline processes — expense claims, customer onboarding, travel authorizations or any other process you use at work. They connect people, data and systems to drive substantial time savings and offer full traceability on every process. Bring products to market faster, gain critical approvals quickly, meet regulatory and compliance demands with full confidence. K2 enables you to build apps the way you want, with components like forms and workflow. Let’s look at an example:
                </div>
                <div class="overview__graph">
                    <div class="overview__graph--right-content">

                        <div class="overview__graph--mobile-image">
                        
                            <img src="/img/1/mobile-graph1.png" alt="">

                        </div>
                        <h3>{{learn-more.step-1__title}}</h3>
                        <p>{{learn-more.step-1__description}}</p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph2.png" alt="">
                        </div>
                        <h3>{{learn-more.step-2__title}}</h3>
                        <p>{{learn-more.step-2__description}}</p>
                    </div>
                    <div class="overview__graph--right-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph3.png" alt="">
                        </div>
                        <h3>{{learn-more.step-3__title}}</h3>
                        <p>{{learn-more.step-3__description}}</p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph4.png" alt="">
                        </div>
                        <h3>{{learn-more.step-4__title}}</h3>
                        <p>{{learn-more.step-4__description}}</p>
                    </div>
                     <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph5.png" alt="">
                        </div>
                        <h3>{{learn-more.step-5__title}}</h3>
                        <p>{{learn-more.step-5__description}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{{> form-work-flow-bottom}}
<div id="is-not-desktop"></div>
<div class="tabs-scripts"></div>


