--- layout: "default.hbs" title: "workflow" ---
<section class="main-stage-learn-more push-for-menu">
    <div class="wrapper">
        <div class="main-stage-learn-more__content topajax">
            <h1 class="main-stage-learn-more__title">Flexible, reusable workflow software for any organization</h1>
            <p class="main-stage-learn-more__description">Workflow automation and workflow management solutions from K2 help you to streamline processes, work more efficiently and improve visibility across your entire organization.
</p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">REQUEST A DEMO</a>
            <a href="/how-to-buy.html" class="main-stage-learn-more__button--secondary">How To Buy</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/learn-more.html">Overview</a></li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li class="active"><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="fwd">
            <div class="fwd__left">
                <div class="fwd__menu -one">
                    <ul>
                        <li class="item-one active">Scalable and agile 
                            <br> workflow software</li>
                        <li class="item-two">{{workflow.feature-2-title}}</li>
                        <li class="item-three">{{workflow.feature-3-title}}</li>
                        <li class="item-four">{{workflow.feature-4-title}}</li>
                    </ul>
                </div>
                <div class="fwd__computer">
                    <img src="/img/1/laptop-device.png" width="493" alt="">
                </div>
                <div class="fwd__screen">
                    <div class="fwd__slides js-screen -one">
                        <img src="/img/1/{{workflow.feature-1-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{workflow.feature-2-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{workflow.feature-3-img}}" width="350" height="200" alt="">
                        <img src="/img/1/{{workflow.feature-4-img}}" width="350" height="200" alt="">
                    </div>
                </div>
            </div>
            <div class="fwd__right -one">
                <div class="fwd__right-content--one">
                    <h2 class="fwd__right-title">{{workflow.feature-1-title}}</h2>
                    <p class="fwd__right-description">{{workflow.feature-1-description-1}}</p>
                    <p class="fwd__right-description">{{workflow.feature-1-description-2}}</p>
                </div>
                <div class="fwd__right-content--two">
                   <h2 class="fwd__right-title">{{workflow.feature-2-title}}</h2>
                    <p class="fwd__right-description">{{workflow.feature-2-description-1}}</p>
                    <p class="fwd__right-description">{{workflow.feature-2-description-2}}</p>
                </div>
                <div class="fwd__right-content--three">
                    <h2 class="fwd__right-title">{{workflow.feature-3-title}}</h2>
                    <p class="fwd__right-description">{{workflow.feature-3-description-1}}</p>
                    <p class="fwd__right-description">{{workflow.feature-3-description-2}}</p>
                </div>
                <div class="fwd__right-content--four">
                   <h2 class="fwd__right-title">{{workflow.feature-4-title}}</h2>
                    <p class="fwd__right-description">{{workflow.feature-4-description-1}}</p>
                    <p class="fwd__right-description">{{workflow.feature-4-description-2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts">
<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">K2 business apps allow users to intuitively design workflows that connect people to information and work, from basic task routing to complex enterprise-wide solutions. Spanning roles, departments and data sources, K2 apps run on premises or in the cloud.</p>
            <a href="/products.html" class="products-slice__primary-cta">View K2 Products</a>
        </div>
    </div>
</section>
<section class="featured-asset">
    <div class="wrapper">
        <div class="featured-asset__content">   
            <div class="featured-asset__content_column">
                <h4 class="featured-asset__title">Five Ways to Transform Business Processes and Optimize Agility</h4>
                <div class="featured-asset__description">As the global business landscape continues to evolve, organizations are increasingly driving toward business process excellence to remain flexible and maintain a competitive edge. Read this guide to explore the business case driving these changes and to learn about companies who have successfully implemented business process transformation.</div>
                <a href="http://content.k2.com/web_70114000002W3Fu" taget="_blank" class="featured-asset__button--primary">Download the whitepaper</a>
            </div>
        </div>
         <div class="featured-asset__content">   
            <div class="featured-asset__content_column">
                <h4 class="featured-asset__title">What’s Missing from SharePoint?</h4>
                <div class="featured-asset__description">Micrsoft SharePoint 2013 has a lot of great features, but over 60 percent of users purchase third-party add-ons, workflow management tools and workflow software to improve their SharePoint deployments. Let us show you what SharePoint can really do, read more about workflows and forms capabilities.</div>
                <a href="http://content.k2.com/web_70114000002Jkpd" taget="_blank" class="featured-asset__button--primary">Download the whitepaper</a>
            </div>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">{{learn-more.one-minute__title}}</h4>
            <p class="one-miniute-video-slice__description">Deliver results with K2 business apps. To check out our apps in action, and learn how easy it is to build and run business process applications with forms, workflow, data and reports, click below.</p>
            <a href="/one-minute-demo.html" class="one-miniute-video-slice__primary-cta">See it live </a>
        </div>
    </div>
</section>



<script>
$('.fwd__menu .item-one').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-one');
    $(this).addClass('active');
});
$('.fwd__menu .item-two').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-two');
    $(this).addClass('active');
});

$('.fwd__menu .item-three').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-three');
    $(this).addClass('active');
});

$('.fwd__menu .item-four').click(function() {
    removeAllClasses();
    $('.fwd__menu li').removeClass('active');
    $('.js-screen, .fwd__menu, .fwd__right').addClass('-four');
    $(this).addClass('active');
});


function removeAllClasses() {
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-one');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-two');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-three');
    $('.js-screen, .fwd__menu, .fwd__right').removeClass('-four');
}
</script>
</div>
